/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.menu-item > .active {
    color: #1ABC9C;
}

.photo {
	overflow: hidden;
	height: 200px;
}

.photo img {
	margin: -15% 0 -10% 0;
}

.photo-ajax {
	overflow: hidden;
	height: 330px;
}

.photo-ajax img {
	margin: -15% 0 -10% 0;
}

.collection-box {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	font-weight: 400;
	font-size: 16px;
	color: rgb(112, 122, 131);
}
.btn-close {
	background: transparent url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E") 50%/1em auto no-repeat;
	border: 0;
	border-radius: .2rem;
	box-sizing: content-box;
	color: #000;
	height: 1em;
	opacity: .5;
	padding: .25em;
	width: 1em
}

.btn-close:hover {
	color: #000;
	opacity: .75;
	text-decoration: none
}

.btn-close:focus {
	box-shadow: 0 0 0 .2rem rgba(63, 128, 234, .25);
	opacity: 1;
	outline: 0
}

.btn-close.disabled,
.btn-close:disabled {
	opacity: .25;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none
}

.btn-close-white {
	filter: invert(1) grayscale(100%) brightness(200%)
}
